.menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00487C;
    border-bottom: 10px solid #000000;
    padding: 10px 20px;
}

.menu__img {
    width: 60px;
    height: 60px;
    box-shadow: 3px 4px 0 #000000;
    transition: 1.2s ease-in-out;
}

.menu__nav {
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.nav__link {
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
    margin-right: 30px;
    position: relative;
}

.nav__link::before {
    content: "";
    background-color: #70A9A1;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    transition: 0.5s ease-in-out;
}
.nav__link::after {
    content: "";
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s ease-in-out;
}

.nav__link:hover::before {
    background-color: #7fffd4;
}

.nav__link:hover::after {
    width: 100%;
    background-color: #7fffd4;
}

.nav__link__btn {
    color: #FFFFFF;
    background-color: #70A9A1;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    height: 60px;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 #000000;
    border: 0;
    transition: 0.5s ease-in-out;
}

@keyframes pulsar {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

.nav__link__btn:hover {
    cursor: pointer;
    box-shadow: none;
    border-radius: 5px;
    background-color: #7fffd4;
    color: #00487C;
    animation: pulsar 0.8s ease-in-out infinite alternate;
}